Data Cleaning

In [ ]:
import pandas as pd

# -------------------------------
# STEP 1: Load the CSV file
# -------------------------------
df = pd.read_csv("C:/Users/Jitesh Jangam/Desktop/Folder Hub/Ai and Data Science/Data Analysis/Project/Netflix User Behavior Analytics/Raw_Dataset/recommendation_logs.csv")   # use your file name

# -------------------------------
# STEP 2: Remove duplicate rows
# -------------------------------
df = df.drop_duplicates()

In [10]:
df.isnull().sum()

recommendation_id          0
user_id                    0
movie_id                   0
recommendation_date        0
recommendation_type        0
recommendation_score    5005
was_clicked                0
position_in_list           0
device_type                0
time_of_day                0
algorithm_version       2522
dtype: int64

In [11]:
# -------------------------------
# STEP 3: Clean column names
# (remove spaces before/after names)
# -------------------------------
df.columns = df.columns.str.strip()

In [ ]:
# -------------------------------
# STEP 4: Clean text columns
# (remove spaces inside each value)
# -------------------------------
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].str.strip()

# -------------------------------
# STEP 5: Fill missing values
# numeric → median
# text → "Unknown"
# -------------------------------
for col in df.columns:
    if df[col].dtype != "object":   # numeric column
        df[col] = df[col].fillna(df[col].median())
    else:                           # string column
        df[col] = df[col].fillna("Unknown")

In [12]:
df.isnull().sum()

recommendation_id          0
user_id                    0
movie_id                   0
recommendation_date        0
recommendation_type        0
recommendation_score    5005
was_clicked                0
position_in_list           0
device_type                0
time_of_day                0
algorithm_version       2522
dtype: int64

In [13]:
df.head()

,recommendation_id,user_id,movie_id,recommendation_date,recommendation_type,recommendation_score,was_clicked,position_in_list,device_type,time_of_day,algorithm_version
0,rec_000001,user_06326,movie_0771,2025-07-03,new_releases,NaN,False,10,Tablet,evening,v1.4
1,rec_000002,user_02180,movie_0985,2024-11-07,genre_based,0.916,False,9,Mobile,evening,v1.4
2,rec_000003,user_03535,movie_0834,2024-08-22,personalized,0.816,False,2,Tablet,evening,v1.4
3,rec_000004,user_05025,movie_0718,2024-04-12,trending,0.771,False,16,Mobile,evening,v1.2
4,rec_000005,user_06794,movie_0718,2025-10-30,similar_users,0.251,False,9,Tablet,evening,v1.3

In [ ]:
# -------------------------------
# STEP 6: Save cleaned CSV
# -------------------------------
df.to_csv("recommendation_logs_cleaned.csv", index=False)

print("CSV file cleaned and saved as recommendation_logs_cleaned.csv")